.btnDarkMode,
.btnDarkMode__icon {
    display: flex;
    align-items: center;

    font-weight: bold;
}

.btnDarkMode {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    gap: 0.3rem;
}

.btnDarkMode__icon {
    fill: var(--color-main);
}

.btnDarkMode__text {
    color: var(--color-main);
}