@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;
}


.main {
  background: var(--background-main);
  width: 100%;
  min-height: 100dvh;

  display: grid;
  grid-template-rows: auto 1fr;
}

.header {
  background: var(--background-main);
}